
<div> 
  <h4>Having Trouble?</h4>
  <a href='/help' class="btn btn-primary" alt='help'>Help</a>
</div>

  <h3>{{course_title}}</h3>
  <div class="page">
      <div class="forms">
      <h3>Add a new document 📁:</h3>
      <form class="form new-document-form">
      <div class="form-group">
          <label for="document-title">document Title:</label>
          <input class="form-control form-control-lg" type="text" id="document-title" name="document-title" />
          <label for="document-link">document URL:</label>
          <input class="form-control form-control-lg" type="text" id="document-link" name="document-link" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
      <h3>Add a new lecture 🎞️:</h3>
      <form class="form new-lecture-form">
      <div class="form-group">
          <label for="lecture-title">Lecture Title:</label>
          <input class="form-control form-control-lg" type="text" id="lecture-title" name="lecture-title" />
          <label for="lecture-link">Lecture URL:</label>
          <input class="form-control form-control-lg" type="text" id="lecture-link" name="lecture-link" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
          </div>
          <div>
          </div>
          <div class="loops">
           <div class="loop lecture">
           {{#if lectures.length}}
           <div class="col-md-6 lecture-list">
          {{#each lectures as |lecture|}}
            <div class="card">
              <div class="container">
              <h4><b><a href="/lecture/{{lecture.id}}">{{lecture.lecture_title}}</b></h4> 
            <div class="card-body">
            <button type="button" id="delete" data-id="{{lecture.id}}" class="btn btn-danger">Delete Lecture</button>
            </div>
            </div>
            </div>
            {{/each}}
        </div>
      {{/if}}
          </div>
          
         <div class="loop document">
         {{#if documents.length}}
          <div class="col-md-6 document-list">
            {{#each documents as |document|}}
              <div class="card">
              <div class="container">
              <h4><b><a href="/document/{{document.id}}">{{document.document_title}}</b></h4> 
              <div class="card-body">
              <button type="button" id="delete" data-id="{{document.id}}" class="btn btn-danger">Delete Document</button>
              </div>
              </div>
              </div>
            {{/each}}
          </div>
          {{/if}}
          </div>
          </div>

  </div>
<style>
.card {
    inline-size: 160px;
    border: 10px solid rgb(23, 111, 198);
    border-radius: 10px;
    display:flex;
    width:250px;
    margin: 5px;
}
#delete{
  margin: 2px;
}

.loops {
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}
 


</style>


<script>

const newDocumentFormHandler = async (event) => {
   
    event.preventDefault();
  
    const document_title = document.querySelector('#document-title').value.trim();
    const document_link = document.querySelector('#document-link').value.trim().replace('view', 'preview');
    const url = window.location.href.toString()
    let course_id = parseInt(url.slice(29))
   
    if (document_title && document_link && course_id) {
      const response = await fetch(`/api/documents`, {
        method: 'POST',
        body: JSON.stringify({document_title, document_link, course_id}),
        headers: {
          'Content-Type': 'application/json',
        },
      });
  
      if (response.ok) {
        document.location.reload();
      } else {
        alert('Failed to create document');
      }
    }
};
  
const delDocumentButtonHandler = async (event) => {
    if (event.target.hasAttribute('data-id')) {
      const documentId = event.target.getAttribute('data-id');
      const response = await fetch(`/api/documents/${documentId}`, {
        method: 'DELETE',
      });
  
      if (response.ok) {
        window.location.reload()
      } else {
        alert('Failed to delete document');
      }
    }
  };
  
document
    .querySelector('.new-document-form')
    .addEventListener('submit', newDocumentFormHandler);
  
document
    .querySelector('.document-list')
    .addEventListener('click', delDocumentButtonHandler);

</script>
